.form {
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d4;
    /* opacity: 0.6; */
    border-radius: 10px;
    padding: 24px;
    height: 532px;
    width: 270px;
}

.formTitle {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 8px;
}

.formDesc {
    width: 100%;
    color: var(--grey);
    margin-bottom: 24px;
    font-size: 17px;
}

.inputsWrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    margin-bottom: 14px;
}

.input {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light);
    padding: 18px;
    font-size: 15px;
}

.comment {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--light);
    padding: 18px;
    height: 114px;
    font-family: 'Roboto', "sans-serif";
    font-size: 15px;
}

.formBtn {
    background-color: var(--red);
    color: white;
    font-size: medium;
    padding: 12px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: none;
    border-radius: 100px;
}

.formBtn:hover,
.formBtn:focus {
    background-color: var(--redHover);
}

.error {
    color: var(--red);
    font-size: 12px;
}

@media screen and (min-width: 375px) {
    .form {
        width: 315px;
    }
}

@media screen and (min-width: 768px) {
    .form {
        width: 352px;
    }
}

@media screen and (min-width: 1440px) {
    .form {
        display: flex;
        flex-direction: column;
        border: 1px solid #d4d4d4;
        /* opacity: 0.6; */
        border-radius: 10px;
        padding: 24px;
        height: 532px;
        width: 448px;
    }

    .formTitle {
        font-weight: 700;
        font-size: 19px;
        margin-bottom: 8px;
    }

    .formDesc {
        width: 100%;
        color: var(--grey);
        margin-bottom: 24px;
        font-size: 17px;
    }

    .inputsWrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 100%;
        margin-bottom: 14px;
    }

    .input {
        width: 100%;
        border: none;
        border-radius: 10px;
        background-color: var(--light);
        padding: 18px;
        font-size: 15px;
    }

    .comment {
        width: 100%;
        border: none;
        border-radius: 10px;
        background-color: var(--light);
        padding: 18px;
        height: 114px;
        font-family: 'Roboto', "sans-serif";
        font-size: 15px;
    }

    .formBtn {
        background-color: var(--red);
        color: white;
        font-size: medium;
        padding: 16px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        border: none;
        border-radius: 100px;
    }
}